h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

html {
    font-family: "Creatball";
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    background-color: black;
}

section,
header,
footer {
    background: url('/src/img/stars/stars\ 1.png')no-repeat center;
}

a {
    text-decoration: none;
}