@use '/src/sass/basic/variables.scss'as*;

@function container-padding($width) {
    @if $width <=320 {
        @return $screen-width-320;
    }

    @else if $width <=768 {
        @return $screen-width-768;
    }

    @else if $width <=1440 {
        @return $screen-width-1440;
    }

    @else {
        @return $screen-width-1920;
    }
}

.container {
    padding: container-padding(320);

    @media screen and (min-width: 768px) {
        padding: container-padding(768);
    }

    @media screen and (min-width: 1440px) {
        padding: container-padding(1440);
    }

    @media screen and (min-width:1920px) {
        padding: container-padding(1920);
    }
}