@font-face {
    font-family: "Creatball";
    src: url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.eot");
    src: url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/ee12e486996d35dc890b3568862cea71.svg#Creatball")format("svg");
}